.accordion-item {
    background-color: rgba(0, 0, 0, 0.5);
}

.accordion-item .accordion-button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 25px;
}

.accordion-collapse {
    color: white;
    font-size: 20px;
}