.playersList {
    height: auto;
    width: 40%;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 20px 0;
}

.playersList li {
    list-style-type: decimal;
    font-size: 20px;
}