.header {
    height: 150px;
    font-family: "Bangers", cursive;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.76);
}

.navbar-brand {
    margin-left: 10px;
    letter-spacing: 5px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item {
    margin-top: 20px;
}

.nav-item a {
    color: rgba(255, 0, 0, 0.5);
    text-decoration: none;
}

.nav-item a:hover {
    color: rgba(255, 0, 0);
}